/*csslint ids: false, box-model: false*/


/****************************************************************************************************************
General
****************************************************************************************************************/

body {
    background: url("http://www.badasspizzaandbrew.com/wp-content/uploads/2014/05/badass-pizza-background-1900x1200-4.png") no-repeat center center fixed;
    background-size: cover;
    color: orange;
    font-family: 'Italiana', serif;
    line-height: 1.5: margin: 0;
}

.main-header {
    background-color: rgba(196, 212, 110, 0.4);
}

ul {
    list-style: none;
}

a {
    color: orange;
}

ul li {
    color: goldenrod;
}


/*Psuedo Classes*/

a:link {
    color: greenyellow;
    text-decoration: none;
}

a:visited {
    color: ivory;
}

a:hover {
    color: green;
}

a:active {
    color: crimson;
}


/****************************************************************************************************************
Headline Elements and P elements
****************************************************************************************************************/

h1 {
    color: darkslategrey;
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    text-transform: uppercase;
}

h2 {
    font-size: 53px;
    font-weight: normal;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

h3 {
    color: saddlebrown;
    font-size: 30px;
    margin-bottom: 1.7em;
}

p {
    font-size: 20px;
}


/****************************************************************************************************************
IDs and Classes
****************************************************************************************************************/

.primary-content {
    background-color: rgba(196, 212, 110, 0.4);
    color: darkslategrey;
    text-align: center;
}

.secondary-content {
    background-color: rgba(196, 212, 110, 0.4);
    color: darkslategrey;
}

.primary-content,
.secondary-content {
    width: 60%;
    margin: auto;
}

.main-header,
.title {
    text-align: center;
}

.title {
    color: darkslategrey;
    /*em = px / 16*/
    font-size: 1.625em;
}

.pizza-style {
    background-color: rgba(245, 240, 108, 0.4);
    padding-bottom: 100px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 100px;
    margin: 105px 0 60px;
}

.t-border {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#main-footer {
    border-bottom: solid 10px #ffa500;
    padding-bottom: 60px;
    padding-top: 60px;
}